


/*-- Reset Code --*/

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
	ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}
	/* start editing from here */
	a{text-decoration:none;}
	.txt-rt{text-align:right;}/* text align right */
	.txt-lt{text-align:left;}/* text align left */
	.txt-center{text-align:center;}/* text align center */
	.float-rt{float:right;}/* float right */
	.float-lt{float:left;}/* float left */
	.clear{clear:both;}/* clear float */
	.pos-relative{position:relative;}/* Position Relative */
	.pos-absolute{position:absolute;}/* Position Absolute */
	.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
	.vertical-top{	vertical-align:top;}/* vertical align top */
	.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
	nav.vertical ul li{	display:block;}/* vertical menu */
	nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
	img{max-width:100%;}
	/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */

/*-- Reset Code --*/



/*-- Index-Page-Styling --*/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #2b82ad;
	text-align: center;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
    color: #2B82AD;
}

h1 {
    font-size: 35px;
    font-weight: 700;
    margin: 75px 0;
    color: #FFFFFF;
}

.container {
    width: 23%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 40px;
}

.login {
    text-align: left;
}

label {
    color: #2B82AD;
    font-weight: 600;
}

input.user, input.pass, .register input[type="text"], .register input[type="password"] {
    width: 94.4%;
    margin: 5px 0 15px;
    padding: 10px;
    height: 20px;
    background-color: #777;
    border: none;
    outline: none;
    color: #EEE;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.login input[type="submit"] {
    float: right;
    margin-bottom: 0;
}

input[type="submit"] {
    width: 50%;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #EEE;
    border: none;
    outline: none;
    color: #2B82AD;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #2B82AD;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
input[type="submit"]:hover {
	cursor: pointer;
	background-color: #2B82AD;
	color: #EEE;
    border: 1px solid #FFF;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

::-webkit-input-placeholder {
    color: #FFF;
}

:-moz-placeholder { /* Firefox 18- */
    color: #FFF;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #FFF;  
}

:-ms-input-placeholder {  
    color: #FFF;  
}

.login ul {
    float: left;
    list-style: none;
    display: inline-block;
    padding-top: 25px;
}

.login ul li input[type="checkbox"] {
    display: none;
}
.login ul li input[type="checkbox"]+label {
    position: relative;
    padding-left: 31px;
    border: #F0F8FF;
    color: #2B82AD;
    display: inline-block;
    cursor: pointer;
    font-size: 13px;    
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.login ul li input[type="checkbox"]+label span:first-child {
    width: 17px;
    height: 17px;
    display: inline-block;
    border: 2px solid #2B82AD;
    position: absolute;
    top: -3px;
    left: 0;
    bottom: 4px;
}
.login ul li input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.social {
    margin: 35px 0;
}
h5 {
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin-top: 7px;
}
ul.social-icons {
    width: 50%;
    float: right;
    text-align: left;
    /*--w3layouts--*/
    /*--agileits--*/
}
ul.social-icons li {
    display: inline-block;
}

ul.social-icons li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/img-sprite.png") no-repeat 0px -33px;
    background-size: 200px;
    opacity: 0.8;
}

ul.social-icons li a.twitter {
    background-position: -35px -33px;
}

ul.social-icons li a.googleplus {
    background-position: -69px -33px;
}

ul.social-icons li a:hover {
    opacity: 1;
}

.reg h3 {
    font-size: 18px;
    font-weight: 600;
    float: left;
    width: 50%;
    text-align: left;
    margin-top: 2px;
}

a.popup-with-zoom-anim {
    color: #2b82ad;
    font-size: 18px;
    font-weight: 600;
    float: left;
    width: 35%;
    text-align: left;
    padding-bottom: 5px;
}

a.popup-with-zoom-anim:hover {
    color: #E91E63;
}
/*--w3layouts--*/
/*--agileits--*/

a.popup-with-zoom-anim:focus {
    outline: none;
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #E91E63;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}



/*-- Popup-Box --*/

.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    /*--w3layouts--*/
    /*--agileits--*/
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    /*--w3layouts--*/
    /*--agileits--*/
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 7%!important;
    left: 35%;
    width: 30%;
    height: 625px!important;
    z-index: 1043;
    background-color: #FFF;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-content iframe{
    width: 100%;
    min-height: 500px;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    background:#EEEEEE;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 32px;
    height: 32px;
    line-height: 13px;
    position: absolute;
    right: -62px;
    top: -62px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    outline: none;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
    padding: 0 0 7px 0px;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.register input[type="text"], .register input[type="password"] {
    width: 95%;
}

.send-button {
    text-align: center;
}

.footer {
    text-align: center;
    margin: 100px 20px 20px;
}
.footer p {
    color: #EEE;
    line-height: 25px;
}
.footer a {
    color: #EEE;
    text-decoration: none;
}
.footer a:hover {
    color: #000;
}

/*-- Index-Page-Styling --*/









/*--- Responsive Code ---*/

@media screen and (max-width: 1920px) {
    .container {
        width: 20%;
    }
}

@media screen and (max-width: 1680px) {
    .container {
        width: 23%;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 26%;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        width: 25%;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        width: 28%;
    }
    .mfp-wrap {
        left: 32%;
        width: 35%;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        margin: 50px 0;
    }
    .container {
        width: 30%;
    }
    a.popup-with-zoom-anim {
        width: 45%;
    }
    .footer {
        margin-top: 50px;
    }
    .mfp-wrap {
        left: 30%;
        width: 40%;
    }
}

@media screen and (max-width: 966px) {
    .mfp-wrap {
        left: 27%;
        width: 45%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 35%;
    }
    .reg h3 {
        font-size: 16px;
    }
    ul.social-icons {
        text-align: right;
    }
    a.popup-with-zoom-anim {
        width: 35%;
        font-size: 16px;
        float: right;
        text-align: right;
    }
}

@media screen and (max-width: 853px) {
    a.popup-with-zoom-anim {
        width: 40%;
    }
    .mfp-wrap {
        left: 25%;
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
   .container {
        width: 38%;
    }
    .register input[type="text"], .register input[type="password"] {
        width: 93.9%;
    }
    input[type="submit"] {
        width: 45%;
        padding: 7px 0;
    }
}

@media screen and (max-width: 736px) {
   .container {
        width: 38%;
    }
    .mfp-wrap {
        left: 22%;
        width: 55%;
    }
}

@media screen and (max-width: 736px) {
    .container {
        width: 40%;
    }
}

@media screen and (max-width: 667px) {
    .container {
        padding: 30px;
        width: 45%;
    }
}

@media screen and (max-width: 640px) {
    .mfp-wrap {
        left: 20%;
        width: 60%;
        height: 610px!important;
        top: 10%!important;
    }
}

@media screen and (max-width: 568px) {
    h1 {
        font-size: 30px;
        margin: 40px 0;
    }
    .container {
        width: 50%;
    }
    h5 {
        font-size: 16px;
    }
    label {
        font-size: 14px;
    }
    input.user, input.pass, .register input[type="text"], .register input[type="password"] {
        width: 92.8%;
        padding: 7px 10px;
    }
    .social {
        margin: 25px 0;
    }
    .footer p {
        font-size: 14px;
    }
    .mfp-wrap {
        left: 17%;
        width: 65%;
        height: 575px!important;
    }
    .register input[type="text"], .register input[type="password"] {
        width: 93.5%;
        padding: 7px 10px;
    }
}

@media screen and (max-width: 533px) {
    h1 {
        font-size: 30px;
    }
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 55%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 27px;
    }
    .container {
        width: 70%;
    }
    .mfp-wrap {
        left: 12%;
        width: 75%;
    }
}

@media screen and (max-width: 414px) {
    .mfp-wrap {
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .container {
        width: 75%;
    }
}

@media screen and (max-width: 360px) {
    .login ul li input[type="checkbox"]+label {
        padding-left: 25px;
        font-size: 12px;
    }
    .login ul li input[type="checkbox"]+label span:first-child {
        width: 15px;
        height: 15px;
        top: -4px;
    }
    a.popup-with-zoom-anim {
        width: 50%;
    }
    .mfp-wrap {
        left: 5%;
        width: 90%;
    }
    .mfp-container {
        padding: 20px;
    }
    .mfp-close {
        right: -20px;
        top: -55px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 25px;
        margin: 30px 10px;
        line-height: 35px;
    }
    .container {
        width: 90%;
        padding: 10px;
    }
    .mfp-wrap {
        left: 2.5%;
        width: 95%;
        height: 555px!important;
    }
    .mfp-close {
        top: -52px;
    }
}

/*--- Responsive Code ---*/